<!--<div class="form-group">
  <label for="picture">Picture</label>
  <div class="custom-file">
    <input #file type="file" id="customFile" accept=".jpg,.png,.gif" multiple (change)="upload(file.files)" />
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width.%]="progress"></div>
</div>-->

<h1>Upload file</h1>
<p><p>
<input #file type="file" multiple (change)="upload(file.files)" />
<br />
<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
  {{progress}}%
</span>

<span style="font-weight:bold;color:green;" *ngIf="message">
  {{message}}
</span> 
